<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Used to grab pictures and logos off of boxicons.com -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

  </head>
  <body>
    <h1>Python IDE</h1>
    <br>
    <div class="controls">
      <select>
        <option value="python">Python</option>
      </select>
      <button id="run" class="run">Run ></button>
      <button class="share">Share</button>
    </div>
    
    <!-- Using the divs for the squares if addeding more squares we would need to add another div -->
    <div class="codingarea">
      <div class="leftarea">
        <textarea id="code-left"></textarea>
        <box-icon id="sound-left" class="tts" type='solid' name='volume-full'></box-icon>
      </div>
      <div class="rightarea">
        <textarea disabled id="code-right"></textarea>
        <box-icon id="sound-right" class="tts" type='solid' name='volume-full'></box-icon>
        <box-icon id="clear-right" class="clear" type='solid' name='trash'></box-icon>
      </div>
    </div>
    <script src="js/accessibility/dist/main.bundle.js"></script>
    <script src="js/run.js"></script>
    <!-- <script>
      // Took the stuff out of index.js to testing the script to see if it works 
      // how i would get = to a variable 
      // use const = to the function of the accessibility
      const acc = new Accessibility();
      // acc.textToSpeech("Hello");
    </script> -->
  </body>
</html>